.searchInput {
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.searchIcon {
    position: absolute;
    top: 30%;
    left: 66px;
}

.barCont {
    display: flex;
    align-items: center;
}