.searchInput {
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: 2px solid lightblue;
}

.searchIcon {
    position: absolute;
    top: 30%;
    left: 66px;
}

.barCont {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
    /* padding: 10px 5px; */
    border-radius: 5px;
}

