/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    /* border: 1px solid blue */
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: 2px
}